// * colors * //
$body-color: lightblue;
$header-color: whitesmoke;
$hovered-shadow: rgb(66, 66, 66);
$earn-points-color: rgb(67, 182, 0);
$lose-points-color: rgb(224, 0, 0);
$shadow-color: lightgray;
$gray-shadow-color: lightslategray;
$light-text-color: white;
$hovered-button-color: #007bff;

// * mixins * //
@mixin points-style($color) {
    position: absolute;
    left: 45%;
    font-size: calc(10px + 1vw);
    color: $color;
}
@mixin button-style($margin, $width) {
    margin: $margin;
    background-color: $light-text-color;
    box-shadow: 2px 2px 6px $gray-shadow-color;
    transform: translateX(0px) translateY(0px);
    scale: 1;
    width: $width;
    font-size: calc(12px + 0.4vw);
    transition: all .2s;
    &:hover {
        background-color: $hovered-button-color;
        box-shadow: 4px 3px 8px $hovered-shadow;
        transform: translateX(-4px) translateY(-2px);
        scale: 1.05;
    }
}

body {
    background-color: $body-color;
    header {
        background-color: $header-color;
        h1 {
            padding: 20px 0;
            box-shadow: 0 4px 20px $shadow-color;
            text-align: center;
            text-shadow: 4px 4px 4px black;
            color: $light-text-color;
        }
    }
    main {
        .container {
            margin-top: 50px;
            &:first-of-type {
                .row:first-of-type {
                    align-items:center;
                }
                .board-game {
                    .row {
                        justify-content: space-around;
                    }
                }
                button {
                    @include button-style(calc(4px + 0.4vw) auto, calc(80px + 4vw));
                }
                img,
                #player,
                #computer {
                    width: calc(50px + 10vw);
                    height: calc(50px + 10vw);
                    box-shadow: 2px 2px 6px $gray-shadow-color;
                    transform: translateX(0px) translateY(0px);
                    scale: 1.02;
                    background-color: $header-color;
                    background-size: contain;
                    transition: all .2s;
                    &:hover {
                        box-shadow: 4px 4px 10px $hovered-shadow;
                        transform: translateX(-6px) translateY(-3px);
                        scale: 1.02;
                    }
                }
                h2 {
                    text-align: center;
                    font-size: 10px;
                    width: 50%;
                }
            }
        }
    }
}
#adding-points {
    @include points-style($earn-points-color);
    text-align: center;
}
#removing-points {
    @include points-style($lose-points-color);
}
.bar {
    margin: 0 1% -20px;
    border: 1px solid rgba(0, 0, 0, 0.418);
    box-shadow: 0 0 3px;
    background-color: $header-color;
    height: 40px;
    width: 100%;
    .bar-progress {
        margin: 0 auto;
        background-color: gray;
        box-shadow: 0 0 3px;
        width: 1px;
        height: 38px;
        span {
            position: absolute;
            left: 50%;
            color: black;
            font-weight: 100;
            margin-top: 4px;
        }
    }
}
.blink-red {
    animation: blink infinite .4s ease-out;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    button {
        position: absolute;
        top: 45%;
        left: calc(-80px + 50vw);
        @include button-style(0 auto, 160px);
    }
    h2 {
        position: absolute;
        top: 26%;
        margin: 0 auto;
        text-align:center;
        color: $light-text-color;
        width: 100%;
    }
}

@keyframes blink {
    from { opacity: 1 }
    50% { opacity: 0 }
    to { opacity: 1 }
}